## 파일이름 list로 가져오기

In [1]:
import os
path_directory = './판매 데이터'
file_list = os.listdir(path_directory)

In [2]:
df=file_list[4:-1]

In [3]:
len(df)

975

## dataframe 으로 합치기

In [4]:
import pandas as pd
import numpy as np
import xlrd

In [5]:
workbook = xlrd.open_workbook("거래내역서.xls", encoding_override="cp949")
worksheet = workbook.sheet_by_index(0)

rows = worksheet.nrows
data = []

In [6]:
for i in range(rows) :
    data.append(worksheet.row_values(i))

In [7]:
data_1=pd.DataFrame(data)
data_2=data_1.rename(columns=data_1.iloc[0])
data_3 = data_2.drop(data_2.index[0])
data_ = data_3.drop(data_3.index[-1])
data_['No']=1

In [8]:
# 처음 인덱스 들어간 dataframe 생성
data_

   No          상품명            바코드    단가 수량 할인    금액 상품포인트    매출원가 비고
1   1  댓골두부찌개용300g  8808330161130  1000  2  0  2000     5    1600
2   1  남양맛있는우유GT기획  8801069221397  4500  1  0  4500    13    3900
3   1  한돈(앞다리살)찌개용         209175  5615  1  0  5615    16       0
4   1         왓따콜라  8801062321773   400  2  0   800     2     568
5   1          바밤바  8809713220055   400  9  0  3600    10    2520
6   1       해태자유시간  8801019206818   800  3  0  2400    10  1579.8

In [9]:
# 추가로 dataframe 이어 붙이기
cnt=0

for i in df:
    cnt +=1
    
    workbook = xlrd.open_workbook(i, encoding_override="cp949")
    worksheet = workbook.sheet_by_index(0)

    rows = worksheet.nrows
    data = []
    
    for j in range(rows):
        data.append(worksheet.row_values(j))
        
        
    data_1=pd.DataFrame(data)
    data_2=data_1.rename(columns=data_1.iloc[0])
    data_3 = data_2.drop(data_2.index[0])
    data_4 = data_3.drop(data_3.index[-1])
    data_4['No']=cnt
    
    data_ = pd.concat([data_,data_4])

In [10]:
data_

     No           상품명            바코드    단가 수량 할인    금액 상품포인트  매출원가 비고
1     1   댓골두부찌개용300g  8808330161130  1000  2  0  2000     5  1600
2     1   남양맛있는우유GT기획  8801069221397  4500  1  0  4500    13  3900
3     1   한돈(앞다리살)찌개용         209175  5615  1  0  5615    16     0
4     1          왓따콜라  8801062321773   400  2  0   800     2   568
5     1           바밤바  8809713220055   400  9  0  3600    10  2520
..  ...           ...            ...   ... .. ..   ...   ...   ... ..
4   975     농심쌀새우깡80g  8801043036054  1150  1  0  1150     3   850
5   975      농심양파깡77g  8801043036498  1300  1  0  1300     3   965
6   975    농심매운새우깡90g  8801043036078  1150  1  0  1150     3   850
7   975     재사용봉투10리터  9144539122350   310  1  0   310     0   285
8   975  밀크플러스900ml*2  8806371306381  2980  1  0  2980    13  2500

[3772 rows x 10 columns]

In [11]:
data_=data_.reset_index(drop=True)

## 한글만 추출하고 list로 변환

In [12]:
import re
hangul = re.compile('[^ ㄱ-ㅣ가-힣]+')

In [13]:
row_num = len(data_)

for i in range(row_num):
    data_["상품명"].iloc[i] = ''.join([j for j in data_["상품명"].iloc[i] if not j.isdigit()])
    data_["상품명"].iloc[i] = ''.join(char for char in data_["상품명"].iloc[i] if char.isalnum())
    data_["상품명"].iloc[i] = hangul.sub('',data_["상품명"].iloc[i])

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [14]:
data_["상품명"]

0         댓골두부찌개용
1       남양맛있는우유기획
2       한돈앞다리살찌개용
3            왓따콜라
4             바밤바
          ...
3767       농심쌀새우깡
3768        농심양파깡
3769      농심매운새우깡
3770      재사용봉투리터
3771        밀크플러스
Name: 상품명, Length: 3772, dtype: object

In [15]:
data=data_[['No','상품명']]

In [16]:
data

       No        상품명
0       1    댓골두부찌개용
1       1  남양맛있는우유기획
2       1  한돈앞다리살찌개용
3       1       왓따콜라
4       1        바밤바
...   ...        ...
3767  975     농심쌀새우깡
3768  975      농심양파깡
3769  975    농심매운새우깡
3770  975    재사용봉투리터
3771  975      밀크플러스

[3772 rows x 2 columns]

In [17]:
item=['다시다','만두','교자','떡볶이','하림','두유','빙그레','크라운','롯데','농심','해태','오리온','칩','땅콩', '치약', '간장', '봉투', '우유', 
      '무','양파', '된장', '탕', '육개장', '라면', '너구리','짜파게티','테라', '참이슬','처음처럼', '하이트','카스', '필라이트', '애호박', '대파', '어묵', 
      '딸기', '란', '물티슈','소성주','막걸리' '나물', '두부', '고추', '오이', '마늘', '콜라', '사이다','환타','델몬트','당근', '배추', '고등어', 
      '한우', '버섯', '상추', '삼다수','백산수','삼겹살', '쪽파', '콩나물', '목전지','한돈','목살','주물럭', '맥주', '귤', '망고', '오징어', '치즈', '토마토','미역','액젓',
      '가루','소스','롤','삼호','매일','햄','웅진','비피더스','식초','카레','짜장','비누','비엔나','샴푸','국수','올리브유',
      '포도씨유','식용유','빵','팔도','볶음면','기름','밀크플러스','찹쌀','햅쌀','등심','김치']
len(item)


# 추가 정보

# 삼호: 어묵류
# 매일 : 요플레. 휘핑크림 류
# 웅진 : 음료류
# 팔도 : 컵라면
# 롤 : 휴지

98

In [18]:
idx=[]

for t in range(98):
    data['상품명'].loc[data['상품명'].str.contains(item[t])] = item[t]
    idx.extend(data['상품명'].loc[data['상품명'].str.contains(item[t])].index)

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-18-85d850f785f8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['상품명'].loc[data['상품명'].str.contains(item[t])] = item[t]

In [19]:
# 제과류 묶기

data.loc[data.상품명=="빙그레", '상품명'] = '제과류'
data.loc[data.상품명=="크라운", '상품명'] = '제과류'
data.loc[data.상품명=="롯데", '상품명'] = '제과류'
data.loc[data.상품명=="농심", '상품명'] = '제과류'
data.loc[data.상품명=="해태", '상품명'] = '제과류'
data.loc[data.상품명=="오리온", '상품명'] = '제과류'
data.loc[data.상품명=="빵", '상품명'] = '제과류'
data.loc[data.상품명=="칩", '상품명'] = '제과류'

# 음료 묶기

data.loc[data.상품명=="두유", '상품명'] = '우유'
data.loc[data.상품명=="밀크플러스", '상품명'] = '우유'

data.loc[data.상품명=="백산수", '상품명'] = '음료'
data.loc[data.상품명=="삼다수", '상품명'] = '음료'

data.loc[data.상품명=="콜라", '상품명'] = '음료'
data.loc[data.상품명=="사이다", '상품명'] = '음료'
data.loc[data.상품명=="환타", '상품명'] = '음료'
data.loc[data.상품명=="델몬트", '상품명'] = '음료'
data.loc[data.상품명=="웅진", '상품명'] = '음료'

data.loc[data.상품명=="테라", '상품명'] = '맥주'
data.loc[data.상품명=="카스", '상품명'] = '맥주'
data.loc[data.상품명=="필라이트", '상품명'] = '맥주'
data.loc[data.상품명=="하이트", '상품명'] = '맥주'

data.loc[data.상품명=="참이슬", '상품명'] = '소주'
data.loc[data.상품명=="처음처럼", '상품명'] = '소주'

data.loc[data.상품명=="소성주", '상품명'] = '막걸리'

# 나물 묶기

data.loc[data.상품명=="콩나물", '상품명'] = '나물'

# 식용유 묶기

data.loc[data.상품명=="올리브유", '상품명'] = '기름'
data.loc[data.상품명=="포도씨유", '상품명'] = '기름'
data.loc[data.상품명=="식용유", '상품명'] = '기름'

# 라면 묶기

data.loc[data.상품명=="팔도", '상품명'] = '라면'
data.loc[data.상품명=="볶음면", '상품명'] = '라면'
data.loc[data.상품명=="너구리", '상품명'] = '라면'
data.loc[data.상품명=="짜파게티", '상품명'] = '라면'

# 쌀 묶기

data.loc[data.상품명=="찹쌀", '상품명'] = '쌀'
data.loc[data.상품명=="햅쌀", '상품명'] = '쌀'

data.loc[data.상품명=="교자", '상품명'] = '만두'

# 돼지고기 묶기

data.loc[data.상품명=="목전지", '상품명'] = '돼지고기'
data.loc[data.상품명=="한돈", '상품명'] = '돼지고기'
data.loc[data.상품명=="목살", '상품명'] = '돼지고기'
data.loc[data.상품명=="주물럭", '상품명'] = '돼지고기'

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [20]:
data['수량'] = data_['수량']

<ipython-input-20-6315e5c870ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['수량'] = data_['수량']

In [25]:
data['원래이름']=data_["상품명"]

<ipython-input-25-e9acbbe61acb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['원래이름']=data_["상품명"]

In [26]:
data.to_csv('판매데이터.csv', mode='w',encoding='euc-kr')

In [29]:
data['상품명'].unique().to_dataframe()

AttributeError: 'numpy.ndarray' object has no attribute 'to_dataframe'

In [31]:
data_item_name=pd.DataFrame(data['상품명'].unique())

In [35]:
data_item_name.to_csv('data_item_name.csv', mode='w',encoding='euc-kr')

In [48]:
name = pd.read_csv('data_item_name.csv',encoding='euc-kr')

In [49]:
name

     Unnamed: 0       상품명  최종상품명
0             0        두부     두부
1             1        우유     우유
2             2      돼지고기   돼지고기
3             3        음료     음료
4             4       바밤바  아이스크림
..          ...       ...    ...
639         639    건호박국내산     호박
640         640        번개     번개
641         641       돈나물     나물
642         642  립톤아이스티레몬     음료
643         643   썬라이트포도향     음료

[644 rows x 3 columns]

In [50]:
data

       No     상품명 수량       원래이름
0       1      두부  2    댓골두부찌개용
1       1      우유  1  남양맛있는우유기획
2       1    돼지고기  1  한돈앞다리살찌개용
3       1      음료  2       왓따콜라
4       1     바밤바  9        바밤바
...   ...     ... ..        ...
3766  975  에이스번들원  1     에이스번들원
3767  975     제과류  1     농심쌀새우깡
3768  975     제과류  1      농심양파깡
3769  975     제과류  1    농심매운새우깡
3771  975      우유  1      밀크플러스

[3537 rows x 4 columns]

In [51]:
data=data.drop(data[data["상품명"]=="봉투"].index)

In [52]:
data = pd.merge(name,data,on='상품명')

In [54]:
data = data[['No','원래이름','상품명','최종상품명','수량']]

In [55]:
data.to_csv('기계학습응용 최종 데이터.csv', mode='w',encoding='euc-kr')

In [ ]:
index=data.index.tolist()
len(index)

In [ ]:
len(idx)

In [ ]:
idx_x=list(set(index)-set(idx))
len(idx_x)

In [ ]:
# item 아닌거 제거

data=data.drop(index=idx_x)

In [ ]:
data

In [ ]:
data_arr=[[]for i in range(976)]
num=0

for i in data['상품명'] :
    data_arr[data['No'].iloc[num]].append(i)
    num+=1

In [ ]:
data_arr

In [ ]:
# 빈 리스트 제거
data_arr=list(filter(None, data_arr))
data_arr

## 연관분석 (Apriori알고리즘 적용)

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

te = TransactionEncoder()
te_ary = te.fit(data_arr).transform(data_arr)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [ ]:
df

In [ ]:
frequent_itemsets = apriori(df, min_support=0.02, use_colnames=True)
frequent_itemsets

In [ ]:
network_df=association_rules(frequent_itemsets, metric="lift", min_threshold=1)
network_df

In [ ]:
import matplotlib.pyplot as plt

#Plotting the relationship between the metrics

plt.scatter(network_df['support'],network_df['confidence'],c='green')
plt.xlabel('support')
plt.ylabel('confidence')
plt.show()
plt.scatter(network_df['support'],network_df['lift'],c='green')
plt.xlabel('support')
plt.ylabel('lift')
plt.show()
plt.scatter(network_df['confidence'],network_df['lift'],c='green')
plt.xlabel('confidence')
plt.ylabel('lift')
plt.show()
plt.scatter(network_df['antecedent support'],network_df['consequent support'],c='green')
plt.xlabel('antecedent support')
plt.ylabel('consequent support')
plt.show()

In [ ]:
from konlpy.tag import Okt

In [ ]:
from collections import Counter

In [ ]:
count=[]
count_list=[]

for k in range(len(data_arr)):
    count=Counter(data_arr[k])
    count_list+=count

In [ ]:
all_count_list=Counter(count_list)

In [ ]:
print(type(all_count_list))
print(all_count_list)
print()
common_cl = all_count_list.most_common(10) # top10
print(common_cl)

In [ ]:
#data_a[data_a['상품명'].str.contains('')]

## 데이터 시각화

## 1. 관계도

In [ ]:
node_df= pd.DataFrame.from_dict(all_count_list, orient='index').reset_index()
node_df= node_df.rename(columns={'index':'node', 0:'nodesize'})
node_df = node_df[node_df['nodesize'] >= 40]
node_df

In [ ]:
import matplotlib.font_manager as fm
fm._rebuild()
path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=path, size=30).get_name()

In [ ]:
import networkx as nx

plt.figure(figsize=(20,20))

# networkx 그래프 객체를 생성합니다.
G = nx.Graph()

# node_df의 키워드 빈도수를 데이터로 하여, 네트워크 그래프의 ‘노드’ 역할을 하는 원을 생성합니다.
for index, row in node_df.iterrows():
    G.add_node(row['node'], nodesize=row['nodesize'])

# network_df의 연관 분석 데이터를 기반으로, 네트워크 그래프의 ‘관계’ 역할을 하는 선을 생성합니다.
for index, row in network_df.iterrows():
    G.add_weighted_edges_from([(row['antecedents'], row['consequents'], row['support'])])

# 그래프 디자인과 관련된 파라미터를 설정합니다.
pr=nx.pagerank(G)
nodesize=np.array([v for v in pr.values()])
nodesize=3000*(nodesize-min(nodesize))/(max(nodesize)-min(nodesize))

pos = nx.spring_layout(G, k=0.6, iterations=50)
#sizes = [G.nodes[node]['nodesize']*25 for node in G]
nx.draw(G, pos=pos, node_size=nodesize)

nx.draw_networkx_labels(G, pos=pos, font_family=font_name, font_size=20)


# 그래프를 출력합니다.
ax = plt.gca()
#plt.rc('font', family=font_name)
plt.show()

## 2. Top 15 frequently sold products

In [ ]:
import plotly.graph_objects as go

In [ ]:
def ditribution_plot(x,y,name=None,xaxis=None,yaxis=None):
    fig = go.Figure([go.Bar(x=x, y=y)])

    fig.update_layout(
        title_text=name,
        xaxis_title=xaxis,
        yaxis_title=yaxis)
    
    fig.show()

In [ ]:
x = data["상품명"].value_counts()
x = x.sort_values(ascending = False) 
x = x[:15]

ditribution_plot(x=x.index, y=x.values, yaxis="Count", xaxis="Products")